{% extends 'moviesystem/partial/base.html' %}
{% load static %}

{% block index %}

<div class="container-fluid flex justify-center" style="overflow: hidden;">
    <div class="row" style="align-items: center;justify-content: center;">
        <div class="col-md-12 container-fluid crousel-container">
            <main>
                <ul class='slider'>
                    {% for top10 in top10movie %}
                    <li class='item'
                        style="background-image: url('https://image.tmdb.org/t/p/w600_and_h900_bestv2{{top10.image_path}}')">
                        <div class='content'>
                            <h2 class='title'>"{{top10.title}}"</h2>
                            <p class='description description-pc'>{{top10.overview|truncatechars:200}}</p>
                            <p class='description description-mobile'>{{top10.overview|truncatechars:80}}</p>
                            <button>{{top10.released_date}}</button>
                            <button>{{top10.runtime}} min</button>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                <nav class='navcarousel'>
                    <ion-icon class='btn prev' name="arrow-back-outline"></ion-icon>
                    <ion-icon class='btn next' name="arrow-forward-outline"></ion-icon>
                </nav>
            </main>
        </div>
        <div class="spacer" style="height: 100vh;width: 100%;z-index: 0;"></div>
    </div>
    <br>
    <br>
</div>

{% endblock index %}