.messages {
    min-height: 60vh;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #444;
}

.uploading-file {
    height: 60vh;
    width: 100%;
    background-color: transparent;
    backdrop-filter: blur(1px);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.uploading-file img {
    width: 16em;
}
form label{
    display: none;
}
#id_pdf_file{
    height: 60vh;
    width: 100%;
    opacity: 0;
    cursor: pointer;
    position: absolute;
    top: 0%;
    left: 0;
    right: 0;
}
#form-submitted-btn{
    opacity: 0;
}
#message_query {
    width: 100%;
    background-color: transparent;
    backdrop-filter: blur(1px);
    border-radius: 10px;
    padding: 5px 10px;
}

/* loading data */
.loading-data {
    align-items: center;
    justify-content: center;
    height: 60vh;
}

.dataloader {
    width: 300px;
    height: 50px;
    position: relative;
}

.dataloader-text {
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    color: #444;
    animation: text_713 3.5s ease both infinite;
    font-size: 1.4rem;
    letter-spacing: 1px;
}

.dataload {
    background-color: #444;
    border-radius: 50px;
    display: block;
    height: 16px;
    width: 16px;
    bottom: 0;
    position: absolute;
    transform: translateX(64px);
    animation: loading_713 3.5s ease both infinite;
}

.dataload::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: grey;
    border-radius: inherit;
    animation: loading2_713 3.5s ease both infinite;
}

@keyframes text_713 {
    0% {
        letter-spacing: 1px;
        transform: translateX(0px);
    }

    40% {
        letter-spacing: 2px;
        transform: translateX(26px);
    }

    80% {
        letter-spacing: 1px;
        transform: translateX(32px);
    }

    90% {
        letter-spacing: 2px;
        transform: translateX(0px);
    }

    100% {
        letter-spacing: 1px;
        transform: translateX(0px);
    }
}

@keyframes loading_713 {
    0% {
        width: 16px;
        transform: translateX(0px);
    }

    40% {
        width: 100%;
        transform: translateX(0px);
    }

    80% {
        width: 16px;
        transform: translateX(64px);
    }

    90% {
        width: 100%;
        transform: translateX(0px);
    }

    100% {
        width: 16px;
        transform: translateX(0px);
    }
}

@keyframes loading2_713 {
    0% {
        transform: translateX(0px);
        width: 16px;
    }

    40% {
        transform: translateX(0%);
        width: 80%;
    }

    80% {
        width: 100%;
        transform: translateX(0px);
    }

    90% {
        width: 80%;
        transform: translateX(15px);
    }

    100% {
        transform: translateX(0px);
        width: 16px;
    }
}

/* conversations */
