{% extends 'whatsapp/partial/base.html' %}
{% load static %}

{% block whatsapp %}

<div class="container">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6 outlet">

                <div class="outlet-text" id="outlet-text">
                    <br>
                    <h1>Your Data <br>Our <button type="submit" class="Analysis-btn" id="Analysis-btn">Analysis!</button></h1>
                    <h3>100% Automatically and Free</h3>
                </div>

            </div>

            <div class="col-md-6 upload-outlet">
                <div class="input-div">
                    <input class="input uploaddata" name="file" type="file" onchange="showCheckedSign(this)" required>
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" stroke-linejoin="round"
                        stroke-linecap="round" viewBox="0 0 24 24" stroke-width="2" fill="none" stroke="currentColor"
                        class="icon">
                        <polyline points="16 16 12 12 8 16"></polyline>
                        <line y2="21" x2="12" y1="12" x1="12"></line>
                        <path d="M20.39 18.39A5 5 0 0 0 18 9h-1.26A8 8 0 1 0 3 16.3"></path>
                        <polyline points="16 16 12 12 8 16"></polyline>
                    </svg>
                    <script>
                        function showCheckedSign(input) {
                            if (input.files && input.files[0]) {
                                var reader = new FileReader();
                                reader.onload = function(e) {
                                    document.documentElement.style.setProperty('--upload-color', 'rgb(89, 194, 255)');
                                    var iconElement = document.querySelector('.upload-alert');
                                    var analysisElement = document.querySelector('.Analysis-btn');
                                    iconElement.style.color = "rgb(89, 194, 255)";
                                    analysisElement.style.color = "rgb(89, 194, 255)";
                                    analysisElement.textContent = "Submit";
                                }
                                reader.readAsDataURL(input.files[0]);
                            }
                        }
                    </script>
                </div>
                <div class="upload-alert">
                    <div>
                        <input style="margin-right: .1em;" type="radio" name="contact_method" id="whatsapp" value="whatsapp" checked>
                        <label style="cursor: pointer;" for="whatsapp"><i class="fab fa-whatsapp"></i></label>
                                    
                        <input class="disabledthings" style="margin-right: .1em;" type="radio" name="contact_method" id="instagram" value="instagram">
                        <label class="disabledthings" style="cursor: pointer;" for="instagram"><i class="fab fa-instagram"></i></label>
                                    
                        <input class="disabledthings" style="margin-right: .1em;" type="radio" name="contact_method" id="phone" value="phone">
                        <label class="disabledthings" style="cursor: pointer;" for="phone"><i class="fas fa-phone"></i></label>
                    </div>
                    <span>CSV, JSON, TXT</span>
                </div>
            </div>
        </div>
    </form>
    <br><br>
    <div class="row">

        <div class="col-md-12 information-outlet">
            <div class="row">
                <div class="col-md-12 info-btns">
                    <span class="info-btn active-btn" data-info="whatsapp-info"><i class="fab fa-whatsapp"></i> Whatsapp</span>
                    <span class="info-btn disabledthings" data-info="instagram-info"><i class="fab fa-instagram"></i> Instagram</span>
                    <span class="info-btn disabledthings" data-info="phone-info"><i class="fas fa-phone"></i> Phone-Calls</span>
                </div>
                <hr style="margin-top: 1em;">

                <div class="col-md-12 mx-1 info-data whatsapp-info active">
                    <div class="row" style="justify-content: center;align-items: center;">
                        <div class="col-md-6" style="display: flex; justify-content: center;align-items: center;">
                            <img src="../../static/whatsapp/images/whatsapp.png" alt="">
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="step">
                                        <li>Step 1: Open WhatsApp on your device.</li>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="step">
                                        <li>Step 2: Tap on the three-dot menu icon.</li>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="step">
                                        <li>Step 3: Select "Settings" from the menu options.</li>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="step">
                                        <li>Step 4: Navigate to the "Chats" section within Settings.</li>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="step">
                                        <li>Step 5: Choose "Chat history" from the list of options.</li>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="step">
                                        <li>Step 6: Tap on "Export chat" to proceed.</li>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="step">
                                        <li>Step 7: Select the chat or conversation to export.</li>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="step">
                                        <li>Step 8: Choose whether to include media files.</li>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="step">
                                        <li>Step 9: Select a destination for exporting the chat data.</li>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="step">
                                        <li>Step 10: Follow the prompts to complete the export process.</li>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-12 mx-1 info-data instagram-info disabledthings">
                    <div class="row" style="justify-content: center;align-items: center;">
                        <div class="col-md-6" style="display: flex; justify-content: center;align-items: center;">
                            <img src="../../static/whatsapp/images/insta.png" alt="">
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="step">
                                        <li>Step 1: Open the Instagram app on your device.</li>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="step">
                                        <li>Step 2: Navigate to your profile by tapping on your profile picture or the person icon.</li>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="step">
                                        <li>Step 3: Tap on the menu icon (three horizontal lines) in the top right corner.</li>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="step">
                                        <li>Step 4: Select "Settings" from the menu.</li>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="step">
                                        <li>Step 5: Scroll down and tap on "Your Activity".</li>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="step">
                                        <li>Step 6: Tap on "Download Your Information".</li>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="step">
                                        <li>Step 7: Wait for Instagram to prepare your data. You'll receive an email with a link to download your data.</li>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="step">
                                        <li>Step 8: Check your Instagram after some time and click on the download from Instagram.</li>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-12 mx-1 info-data phone-info disabledthings">
                    <div class="row" style="justify-content: center;align-items: center;">
                        <div class="col-md-6" style="display: flex; justify-content: center;align-items: center;">
                            <img src="../../static/whatsapp/images/phone.png" alt="">
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="step">
                                        <li>Step 1: Open the Myjio app on your device.</li>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="step">
                                        <li>Step 2: Navigate to your MyJio section and then tap on Mobile icon</li>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="step">
                                        <li>Step 3: Under Mobile section go to the Reacharge & Payments</li>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="step">
                                        <li>Step 4: Open My-statement and Download the Data</li>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>



{% endblock whatsapp %}