aiohttp
aiosignal
annotated-types
anyio
appnope
asgiref
asttokens
attrs
backoff
bcrypt
beautifulsoup4
bleach
build
cachetools
certifi
charset-normalizer
chroma-hnswlib
chromadb
click
colorama
coloredlogs
comm
config_pkg
contourpy
cycler
dataclasses-json
debugpy
decorator
defusedxml
Deprecated
diff-match-patch
Django
django-import-export
django-jazzmin
dnspython
email_validator
emoji
et-xmlfile
executing
fastapi
fastapi-cli
fastjsonschema
filelock
flatbuffers
fonttools
frozenlist
fsspec
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
grpcio
grpcio-status
gunicorn
h11
httpcore
httplib2
httptools
httpx
huggingface-hub
humanfriendly
idna
importlib_metadata
importlib_resources
ipykernel
ipython
jedi
Jinja2
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab_pygments
kaggle
kiwisolver
kubernetes
langchain
langchain-community
langchain-core
langchain-google-genai
langchain-pinecone
langchain-text-splitters
langsmith
markdown-it-py
MarkupSafe
marshmallow
matplotlib
matplotlib-inline
mdurl
mistune
mmh3
monotonic
mpmath
multidict
mypy-extensions
mysql-connector-python
mysqlclient
nbclient
nbformat
nest-asyncio
numpy
oauthlib
onnxruntime
openpyxl
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-fastapi
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
orjson
overrides
packaging
pandas
pandocfilters
parso
pexpect
pillow
pinecone-client
pinecone-plugin-interface
platformdirs
posthog
prompt-toolkit
proto-plus
protobuf
psutil
ptyprocess
pure-eval
pyasn1
pyasn1_modules
pydantic
pydantic_core
Pygments
pyparsing
pypdf
PyPika
pyproject_hooks
python-dateutil
python-dotenv
python-multipart
python-slugify
pytz
PyYAML
pyzmq
referencing
requests
requests-oauthlib
rich
rpds-py
rsa
scikit-learn
scipy
seaborn
setuptools
shellingham
six
sniffio
soupsieve
SQLAlchemy
sqlparse
stack-data
starlette
sympy
tablib
tenacity
text-unidecode
threadpoolctl
tinycss2
tokenizers
tornado
tqdm
traitlets
typer
typing-inspect
typing_extensions
tzdata
uritemplate
urllib3
uvicorn
uvloop
watchfiles
wcwidth
webencodings
websocket-client
websockets
whitenoise
wordcloud
wrapt
yarl
zipp
langchain-community
langchain-google-genai
langchain-core