footer {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    margin-top: 3em;
}

footer p {
    color: white;
    font-size: 1.25rem;
    font-weight: 700;
    text-shadow: 1px 1px 10px 3px white;
}