{% extends 'core/partial/base.html' %}
{% load static %}

{% block index %}

<div class="container-fluid analyzer-types">
    <h1>Data Analysis</h1>
    <hr style="margin: 0;"><br>

    <div class="row">
        <div class="col-md-6">
            <a href="{% url 'whatsapp:whatsapp' %}" style="text-decoration: none;">
                <div class="card mb-3" style="width: 100%;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img style="max-height: 200px;" src="{% static 'core/images/whatsapp.png' %}" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Whatsapp chat analyzer</h5>
                                <p class="card-text">Its a whatsapp chat analyzer using python libraries, just have to upload the
                                    chat and get your analysis within the minute.</p>
                                <p class="card-text" style="display: flexbox;flex-wrap: wrap;">
                                    <div class="tech-used">Numpy</div>
                                    <div class="tech-used">Pandas</div>
                                    <div class="tech-used">Matplotlib</div>
                                    <div class="tech-used">Seaborne</div>
                                    <div class="tech-used">Wordcloud</div>
                                    <div class="tech-used">Emoji</div>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <br>

    <h2>Machine Learning</h2>
    <hr style="margin: 0;"><br>

    <div class="row">
        <div class="col-md-6">
            <a href="{% url 'rockmine:rockmine' %}" style="text-decoration: none;">
                <div class="card mb-3" style="width: 100%;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img style="max-height: 200px;" src="{% static 'core/images/rockmine.png' %}" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Rock Mine Predictor</h5>
                                <p class="card-text">Sonar is a fascinating technology that allows us to explore and map the underwater world. Let’s dive into it!</p>
                                <p class="card-text" style="display: flexbox;flex-wrap: wrap;">
                                    <div class="tech-used">Logistic regression</div>
                                    <div class="tech-used">ML prediction</div>
                                    <div class="tech-used">Numpy</div>
                                    <div class="tech-used">Pandas</div>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-6">
            <a href="{% url 'diabetes:diabetes' %}" style="text-decoration: none;">
                <div class="card mb-3" style="width: 100%;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img style="max-height: 200px;" src="{% static 'core/images/diabetes.png' %}" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Female Diabetes Predictor</h5>
                                <p class="card-text">The objective of the dataset is to predict whether or not a patient has diabetes,all patients here are females at least 21 years old of Pima Indian heritage.</p>
                                <p class="card-text" style="display: flexbox;flex-wrap: wrap;">
                                    <div class="tech-used">SVM Classifier</div>
                                    <div class="tech-used">ML prediction</div>
                                    <div class="tech-used">Numpy</div>
                                    <div class="tech-used">Pandas</div>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-6">
            <a href="{% url 'moviesystem:moviesystem' %}" style="text-decoration: none;">
                <div class="card mb-3" style="width: 100%;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img style="max-height: 200px;" src="{% static 'core/images/moviesystem.png' %}" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Movies Recommendations</h5>
                                <p class="card-text">Movie recommendation systems use algorithms to suggest films based on user preferences, offering personalized viewing choices.</p>
                                <p class="card-text" style="display: flexbox;flex-wrap: wrap;">
                                    <div class="tech-used">Cosine Similarity</div>
                                    <div class="tech-used">TFID Vectorizer</div>
                                    <div class="tech-used">Numpy</div>
                                    <div class="tech-used">Pandas</div>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <br>
    <h2>Large Language Models</h2>
    <hr style="margin: 0;"><br>
    <div class="row">
        <div class="col-md-6">
            <a href="{% url 'MCQgenerator:MCQgenerator' %}" style="text-decoration: none;">
                <div class="card mb-3" style="width: 100%;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img style="max-height: 200px;" src="{% static 'core/images/mcq.png' %}" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">MCQgenerator Bot</h5>
                                <p class="card-text">
                                    The MCQ generator uses Gemini LLM and LangChain to create multiple-choice questions automatically. This tool generates diverse and high-quality questions, making it valuable for education and assessments.</p>
                                <p class="card-text" style="display: flexbox;flex-wrap: wrap;">
                                    <div class="tech-used">Gemini LLM</div>
                                    <div class="tech-used">Langchain</div>
                                    <div class="tech-used">Numpy</div>
                                    <div class="tech-used">Pandas</div>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-6">
            <a href="{% url 'asktoaske:asktoaske' %}" style="text-decoration: none;">
                <div class="card mb-3" style="width: 100%;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img style="max-height: 200px;" src="{% static 'core/images/QA.png' %}" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Ask To Aske Bot</h5>
                                <p class="card-text">Experience My QA Bot, powered by Langchain Gemini AI. It utilizes the text-embedding-004 embeddings and the Gemini 1.5 Pro LLM model, coupled with ChromaDB for efficient embeddings storage.</p>
                                <div>
                                    <span class="tech-used">Gemini LLM</span>
                                    <span class="tech-used">Langchain</span>
                                    <span class="tech-used">ChromaDB</span>
                                    <span class="tech-used">RetrievalQA</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>        
    </div>

    <br>
</div>

{% endblock index %}