{% extends 'asktoaske/partial/base.html' %}
{% load static %}

{% block index %}

<div class="container-fluid">
    <div class="message-container">
        <div class="messages mb-3">
            <div id="uploading-file" class="uploading-file">
                <form id="upload-form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button id="form-submitted-btn" type="submit">Upload</button>
                </form>
                <h2 style="text-align: center;">Wanted to Ask !! <br> <b>Ask to Aske</b></h2>
                <span>** Only Pdf supported **</span>
                <img src="../../../static/asktoaske/images/upload.png" alt="">
            </div>
            <div id="loading-data" class="loading-data" style="display: none;">
                <div class="dataloader">
                    <span class="dataloader-text"><b>loading Your data...</b></span>
                      <span class="dataload"></span>
                  </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.getElementById('id_pdf_file').addEventListener('change', function(event) {
        if (event.target.files.length > 0) {
            document.getElementById('form-submitted-btn').click()
        }
    });
</script>
{% endblock index %}