{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'core/partial/main-style.html' %}

    {% block appstylecontent %}
    {% endblock appstylecontent %}
</head>

<body style="background-image: url(../../static/whatsapp/images/whatsappBack.png);">
    
    {% include 'core/component/loader.html' %}
    {% include 'core/component/navbar.html' %}

    <div style="display: flex;flex-direction: column;min-height: 88vh;justify-content: space-between;">
        {% block content %}
        {% endblock content %}
    
        {% include 'core/component/footer.html' %}
    </div>
</body>
    {% include 'core/partial/main-script.html' %}

    {% block appscriptcontent %}
    {% endblock appscriptcontent %}
</html>