{% extends 'diabetes/partial/base.html' %}
{% load static %}

{% block index %}

<div class="container flex justify-center">
    <div class="row" style="align-items: center;justify-content: center;">
        <div class="col-md-5">
            <img class="img-fluid" src="../../../static/diabetes/images/preg.png" alt="">
        </div>
        <div class="col-md-7">
            <form method="post">
                <label class="lebelfor_info">Input The Fields Asked</label>
                <hr style="margin-top: 0;">
                {% csrf_token %}
                <div class="row">
                    <p class="col-md-6">
                        <label for="id_pregnancies">Pregnancies:</label>
                        <input type="number" name="pregnancies" required id="id_pregnancies">
                    </p>
                    <p class="col-md-6">
                        <label for="id_glucose">Glucose:</label>
                        <input type="number" name="glucose" required id="id_glucose">
                    </p>
                </div>
                <div class="row">
                    <p class="col-md-6">
                        <label for="id_blood_pressure">Blood pressure:</label>
                        <input type="number" name="blood_pressure" required id="id_blood_pressure">
                    </p>
                    <p class="col-md-6">
                        <label for="id_skin_thickness">Skinn Thickness:</label>
                        <input type="number" name="skin_thickness" required id="id_skin_thickness">
                    </p>
                </div>
                <div class="row">
                    <p class="col-md-6">
                        <label for="id_insulin">Insulin:</label>
                        <input type="number" name="insulin" required id="id_insulin">
                    </p>
                    <p class="col-md-6">
                        <label for="id_bmi">Bmi:</label>
                        <input type="number" name="bmi" step="any" required id="id_bmi">
                    </p>
                </div>
                <div class="row">
                    <p class="col-md-6">
                        <label for="id_dbf">Dbf:</label>
                        <input type="number" name="dbf" step="any" required id="id_dbf">
                    </p>
                    <p class="col-md-6">
                        <label for="id_age">Age:</label>
                        <input type="number" name="age" required id="id_age">
                    </p>
                </div>
                <button class="check_btn" type="submit">Check</button>
            </form>
        </div>
    </div>
    <br>
    <br>
</div>

{% endblock index %}