.poster_img{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.poster_img img{
    width: 90%;
    border-radius: 5px;
}
.title_movie{
    font-weight: 700;
    color: grey;
}
.user_score{
    background-color: #07372C;
    padding: 4px 10px;
    color: white;
    border-radius: 5px;
    font-weight: 600;
}
.score_label{
    font-weight: 600;
    color: #07372c;
    padding-left: 5px;
}
.user_score_box{
    display: flex;
    align-items: baseline;
    justify-content: left;
    flex-direction: column;
}
.movie_overview{
    color: #07372C;
}
.movie_btn{
    background-color: #07372c;
    color: white;
    font-weight: 600;
    border: 1px solid #0b2922;
    border-radius: 5px;
    padding: 2px 5px;
}